body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightseagreen;
}

.container {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: lightgray;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    padding: 50px;
    border-radius: 20px;
    width: 80%;
    max-width: 500px;
    margin: 0;
    text-align: center;
}

h1 {
    padding: 20px;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}
.input1, .input2 {
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}
#bil1, #bil2 {
    text-align: start;
    width: 100%;
    padding: 5px;
    font-size: 1.5rem;
    color: black;
    border-radius: 5px;
    border: 1px solid black;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    appearance: textfield;
}

.button {
    margin-top: 20px;
    align-items: center;
    margin-bottom: 20px; 
}

button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: green;
    color: white;
    width: 100px;
    padding: 10px;
    margin: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
}
#hitung {
    width: 150px;
}

.result {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 30px;
    color: black;
}

@media (max-width: 768px) {
    .container {
        padding: 20px;
        width: 90%;
    }
    
    h1 {
        font-size: 1.5rem;
    }
    
    .input1, .input2 {
        font-size: 1.2rem;
    }
    
    button {
        font-size: 0.9rem;
        width: 80px;
    }
    
    #hitung {
        width: 120px;
    }
    
    .result {
        font-size: 1.5rem;
    }
}