
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.overlap {
    position: relative;
}

.dekstop-ilab {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .dekstop-ilab .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 1440px;
    height: 1024px;
    position: relative;
  }

  .navbar div {
    color: black;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    transition: color 0.15s ease; 
  }
  
  .navbar div:hover {
    color: #e31919;
  }
  
  
  .dekstop-ilab .overlap {
    position: absolute;
    width: 1552px;
    height: 100px;
    top: 0;
    left: 23px;
    background-color: #ffffff;
  }
  
  .dekstop-ilab .navbar {
    position: absolute;
    width: 704px;
    height: 39px;
    top: 38px;
    left: 606px;
  }
  
  .dekstop-ilab .text-wrapper {
    width: 110px;
    top: 2px;
    left: 330px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    position: absolute;
    color: #000000;
    font-size: 18.5px;
    text-align: center;
    letter-spacing: 0;
    line-height: 18.5px;
  }
  
  .dekstop-ilab .text-wrapper-2 {
    width: 145px;
    top: 2px;
    left: 395px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    position: absolute;
    color: #000000;
    font-size: 18.5px;
    text-align: center;
    letter-spacing: 0;
    line-height: 18.5px;
  }
  
  .dekstop-ilab .text-wrapper-3 {
    top: 2px;
    left: 484px;
    color: #000000;
    position: absolute;
    width: 146px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 18.5px;
    text-align: center;
    letter-spacing: 0;
    line-height: 18.5px;
  }
  
  .dekstop-ilab .text-wrapper-4 {
    width: 98px;
    top: 2px;
    left: 606px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    position: absolute;
    color: #000000;
    font-size: 18.5px;
    text-align: center;
    letter-spacing: 0;
    line-height: 18.5px;
  }
  
  .dekstop-ilab .text-wrapper-5 {
    width: 143px;
    top: 2px;
    left: 224px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    position: absolute;
    color: #000000;
    font-size: 18.5px;
    text-align: center;
    letter-spacing: 0;
    line-height: 18.5px;
  }
  
  .dekstop-ilab .text-wrapper-6 {
    width: 162px;
    top: 1px;
    left: 96px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    position: absolute;
    color: #000000;
    font-size: 18.5px;
    text-align: center;
    letter-spacing: 0;
    line-height: 18.5px;
  }
  
  .dekstop-ilab .text-wrapper-7 {
    top: 1px;
    left: 0;
    color: #000000;
    position: absolute;
    width: 146px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 18.5px;
    text-align: center;
    letter-spacing: 0;
    line-height: 18.5px;
  }

  .navbar:hover{
    color: #e31919;
  }
  
  .dekstop-ilab .ic-baseline-expand {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 6px;
    left: 575px;
  }
  
  .dekstop-ilab .rectangle {
    width: 138px;
    height: 65px;
    top: 17px;
    left: 118px;
    position: absolute;
    object-fit: cover;
  }
  
  .dekstop-ilab .overlap-group {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 101px;
    left: 0;
    background-image: url(./img/backgroun.png);
    border-radius: 35px;
    background-size: cover;
    background-position: 80% 80%;
    overflow: hidden;
  }
  
  .dekstop-ilab .welcome-to {
    position: absolute;
    width: 900px;
    top: 140px;
    left: 120px;
    font-family: "Inria Sans-Bold", Helvetica;
    font-weight: 550;
    color: #ffffff;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .dekstop-ilab .span {
    font-family: "Inria Sans-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 49.2px;
    letter-spacing: 0;
  }
  
  .dekstop-ilab .text-wrapper-8 {
    font-size: 59.1px;
  }
  
  .dekstop-ilab .overlap-2 {
    position: absolute;
    width: 1200px;
    height: 530px;
    top: 380px;
    left: 120px;
    background-color: #ffffff;
    border-radius: 36px;
  }
  
  .dekstop-ilab .text-wrapper-9 {
    position: absolute;
    top: 63px;
    left: 402px;
    font-family: "Inria Sans-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 55.4px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .dekstop-ilab .overlap-3 {
    position: absolute;
    width: 210px;
    height: 280px;
    top: 201px;
    left: 82px;
    box-shadow: #bfbfbf 0 4px 15px;
    background-color: #bfbfbf;
    border-radius: 36px;
    background-size: 100% 100%;
  }
  
  .dekstop-ilab .upgrading-assistant {
    position: absolute;
    width: 177px;
    top: 144px;
    left: 18px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 14.8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .dekstop-ilab .text-wrapper-10 {
    position: absolute;
    top: 235px;
    left: 22px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .dekstop-ilab .img {
    position: absolute;
    width: 210px;
    height: 138px;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 36px 36px 0 0;
  }
  
  .dekstop-ilab .overlap-4 {
    position: absolute;
    width: 210px;
    height: 280px;
    top: 201px;
    left: 352px;
    box-shadow: #bfbfbf 0 4px 15px;
   background-color: #bfbfbf;
    border-radius: 36px;
    background-size: 100% 100%;
  }
  
  .dekstop-ilab .text-wrapper-11 {
    position: absolute;
    top: 144px;
    left: 22px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 14.8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .dekstop-ilab .text-wrapper-12 {
    position: absolute;
    top: 165px;
    left:28px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 14.8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .dekstop-ilab .overlap-5 {
    position: absolute;
    width: 210px;
    height: 280px;
    top: 201px;
    left: 630px;
    box-shadow: #bfbfbf 0 4px 15px;
    background-color: #bfbfbf;
    border-radius: 36px;
    background-size: 100% 100%;
  }

  .dekstop-ilab .overlap-4 .text-wrapper-10 {
    color: #d53838; 
  }

  .dekstop-ilab .overlap-2 .text-wrapper-10 {
    color: #d53838;
  }
  
  .dekstop-ilab .overlap-5 .text-wrapper-10 {
    color: #d53838;
  }

  .dekstop-ilab .overlap-6 .text-wrapper-10 {
    color: #d53838;
  }

  .dekstop-ilab .text-wrapper-13 {
    position: absolute;
    top: 144px;
    left: 16px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 14.8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .dekstop-ilab .text-wrapper-14 {
    position: absolute;
    top: 165px;
    left: 18px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .dekstop-ilab .text-wrapper-15 {
    top: 235px;
    left: 18px;
    position: absolute;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .dekstop-ilab .img-2 {
    width: 212px;
    height: 137px;
    left: 3px;
    position: absolute;
    top: 0;
    object-fit: cover;
  }
  
  .dekstop-ilab .overlap-6 {
    position: absolute;
    width: 210px;
    height: 280px;
    top: 201px;
    left: 898px;
    box-shadow: #bfbfbf 0 4px 15px;
    background-color: #bfbfbf;
    border-radius: 36px;
    background-size: 100% 100%;
  }
  
  .dekstop-ilab .text-wrapper-16 {
    position: absolute;
    top: 148px;
    left: 27px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 14.8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .dekstop-ilab .text-wrapper-17 {
    position: absolute;
    top: 165px;
    left: 27px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .dekstop-ilab .text-wrapper-18 {
    top: 238px;
    left: 27px;
    position: absolute;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }